[submodule "object_detection/deep_sort"]
	path = object_detection/deep_sort
	url = https://github.com/nwojke/deep_sort
[submodule "object_detection/models"]
	path = object_detection/models
	url = https://github.com/tensorflow/models
